<!DOCTYPE html>
<html lang="en">
<head>
<title>Recipes Home</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
<h1>Recipes Home Page</h1>


<div>
<ol>

<% @recipes.each do |recipe| %>
<li><a href=" <%= "/recipes/#{recipe["id"]}" %> "><%= recipe["name"] %></a></li>
<% end %>

</ol>
</div>
</body>

</html>



